.keyboard-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.keyboard-row button {
  padding: 15px 10px;
  font-size: 1rem;
  min-width: 40px;
  border: 1px solid #800080;
  border-radius: 5px;
  background-color: #e6ccff;
  cursor: pointer;
  font-weight: bold;
  color: #800080;
  transition: all 0.2s ease;
}

.keyboard-row button:hover {
  background-color: #800080;
  border-color: #800080;
  color: white;
}

.keyboard-row button.guessed {
  background-color: #a3a3a3;
  color: white;
  border-color: #800080;
}

.backspace-button {
  background-color: #800080 !important;
  color: white !important;
  border-color: #800080 !important;
  min-width: 60px !important;
  font-size: 1.2rem !important;
}

.backspace-button:hover {
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
} 